.form-group {
  width: 50%;
  margin: auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 2em 1em;
}

.form-control > * {
  margin-bottom: 5px;
}

.form-action {
  text-align: center;
}
